doctype html
html
    head
        link(rel='stylesheet', href='css/build.css')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
    body
        #error
        script(src='cordova.js')
        script(src='js/libs.js')
        script(src='js/build.js')
        script.
            app.initialize();