@import "reset";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  background: #ecf0f1;
}

input {
  border: 0;
  outline: none;
  font-family: inherit;
}